 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- Header -->
    <header>
        <div class="navbar">
               <!-- Logo -->
               <ul class="logo">
                <li><a [routerLink]='["/home"]'>
                 Building Your Future.
                 </a></li>
               </ul>
            <!-- Nav List -->
            <ul class="nav_links">
                <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
                <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
                <li><a [routerLink]='["/about"]'>About</a></li>
                <li><a [routerLink]='["/teachers"]'>Contact Us</a></li>
            </ul>
            <ul class="nav_login">
              <li><a [routerLink]='["/login"]'>Login</a></li>
              <li><a [routerLink]='["/register"]'>Register</a></li>
            </ul>
        </div>
    </header>

     <!--============================== FINE DELLA NAVBAR ==============================-->


    <!--============================== CATALOGO DEI TUTORIALS ==============================-->

    <!--============================== CAROSELLO 1 ==============================-->
    <!-- <i class="uil uil-angle-double-left"></i> -->
    <div class="info_carousel">
       <h1>Fisica</h1>
    <div class="carousel"> 
        <!--Singola Card del carosello 1-->
        <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/R5GKcAPiJMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Nikola Tesla</h2>
                <p>Nikola Tesla è uno dei pionieri nel campo dell'energia elettrica, uno scienziato geniale che qualcuno definì il “mago” dell'elettricità, proprio grazie alle sue idee rivoluzionarie. Fu uno dei primi a pensare di poter distribuire energia a tutto il mondo senza fili,  inventò la corrente alternata, con cui tutt’ora trasportiamo energia elettrica su lunghe distanze. </p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 2-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/MFSwkFK7_ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Fusione Nucleare</h2>
                <p>In fisica la fusione nucleare è la reazione nucleare che consiste nell’unione di due atomi di idrogeno, liberando grandissime quantità di energia. A differenza della fissione nucleare, che scinde atomi pesanti in atomi più leggeri, la fusione nucleare unisce due o più atomi leggeri, generando la stessa reazione che avviene nel sole e nelle stelle, ecco perché è anche chiamata energia stellare.
                  </p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 3-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/InE1eM6eclA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Il petrolio</h2>
                <p>Il Petrolio è un idrocarburo il cui nome deriva dal latino “petroleum”, termine composto da “petra” e “oleum”, che significa "olio di roccia”. Insieme al carbone è stato la fonte energetica che ha accelerato l’evoluzione della società moderna dalla Rivoluzione Industriale a oggi. 
                Il processo di formazione può durare diversi milioni di anni ecco perché è una fonte di energia non rinnovabile.</p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 4-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/oDETa3ktK8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>La bomba atomica</h2>
                <p>La bomba atomica è un ordigno che ha una forza distruttiva incredibile e genera energia attraverso la fissione nucleare. Questo tipo di bombe furono progettate durante la Seconda Guerra Mondiale e utilizzate solo in due occasioni a Hiroshima e Nagasaki in Giappone nel 1945 mettendo fine alla guerra.
                Il cuore delle bombe atomiche è fatto di Uranio 235 e Plutonio 239, metalli pesanti che attivano la fissione nucleare.</p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello--> 
      </div>
    </div>
      <!--<i class="uil uil-angle-double-right"></i>-->
    <!--==========================FINE CAROSELLO 1===============================-->


     <!--============================== CAROSELLO 2 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
      <h1>Matematica</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/IO17Q24fvWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Alan Turing</h2>
              <p>Chi è Alan Turing ? In che modo contribuì alla fine della Seconda Guerra Mondiale? In questo video raccontiamo la storia del genio matematico che riuscì a decriptare i codici tedeschi di Enigma, decifrandoli con l'invenzione di The Bombe, ricordato anche per aver posto le basi per i computer che usiamo oggi e per aver aperto la riflessione sulle intelligenze artificiali. </p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/XPcKehh0Lgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Gli assi cartesiani</h2>
              <p>Nel XVII secolo il giovanissimo René Descartes immagina e dà vita al piano cartesiano, sistema di riferimento che avrebbe cambiato le prospettive della scienza moderna. Il diagramma cartesiano è composto da due assi (due coppie di semirette) perpendicolari tra loro, uno orizzontale e uno verticale, che si intersecano in un punto chiamato origine.</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/qANKP6bB324" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Blockchain</h2>
              <p>La blockchain in parole semplici è un registro digitale. Come un normale registro, contiene una serie di informazioni. La particolarità della blockchain è che le informazioni non possono essere modificate in nessun modo e sono condivise da diversi utenti. Letteralmente significa "catena di blocchi", ma cos'è effettivamente? </p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
    </div>
    <!--<i class="uil uil-angle-double-right"></i>-->
  <!--==========================FINE CAROSELLO 2===============================-->


      <!--============================== CAROSELLO 3 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
      <h1>Storia dell'arte</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/MgrO5za0lSY?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Francis Bacon</h2>
              <p>Francis Bacon was the loudest, rudest, drunkest, most sought-after British artist of the 20th century. Twenty-five years after his death, his canvases regularly exceed £40million at auction. Bacon's appeal is rooted in his notoriety - a candid image he presented of himself as Roaring Boy, Lord of Misrule and Conveyor of Artistic Violence. </p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/cDWPH_jCjn8?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Piero Manzoni</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/nFjVlHdBObk?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Andy Wharol</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/zMC26UWZLxk?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Jean Michel Basquiat</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
    </div>
    <!--<i class="uil uil-angle-double-right"></i>-->
  <!--==========================FINE CAROSELLO 3===============================-->


   <!--============================== CAROSELLO 4 ==============================-->
    <div class="info_carousel">
      <h1>Letteratura</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/ITe6jaATFNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Francesco Petrarca</h2>
              <p>Continuiamo le nostre pillole di Letteratura con una videolezione sulla biografia di Francesco Petrarca, il nostro poeta laureato.
              Ripercorriamo le tappe principali della sua vita e scopriamo qualche curiosità sull'autore del meraviglioso Canzoniere.</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/_jli20Ea3ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Barbero spiega Dante</h2>
              <p>Il suo vero nome era Durante Alagherii de Alagheriis; “Dante” era l'abbrevazione del nome. Fu il poeta Giovanni Boccaccio a tramandarlo come Dante Alighieri. Si sposò con Gemma Donati: il loro matrimonio fu programmato quando i due avevano solo 12 anni, con un contratto tra i genitori. </p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/FDzVbbIcM-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Giovanni Boccaccio</h2>
              <p>Lezione dedicata alle opere di Giovanni Boccaccio. Secondo la critica, possiamo dividere la sua produzione in due raggruppamenti: le opere del periodo napoletano e le opere del periodo fiorentino.</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/7iJuiJPer6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Charles Dickens</h2>
              <p>Torniamo a parlare di Letteratura inglese, e incontriamo Charles Dickens, il celebre scrittore che descrisse con vivo realismo le condizioni degli ultimi, lasciati indietro dallo sviluppo economico inglese durante la Victorian Age.</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
  </div>
  <!--==========================FINE CAROSELLO 3===============================-->
    <!--============================== FINE CATALOGO DEI TUTORIALS ==============================-->



    <!--============================== FOOTER ==============================-->
   <!-- Footer Start -->
  <section class="footer container">
    <div class="footer-box">
        <h3>The Company</h3>
        <a href="#">About Us</a>
        <a href="#">Help</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-box">
        <h3>Popular Categories</h3>
        <a [routerLink]='["/courses"]'>Courses</a>
        <a [routerLink]='["/tutorial"]'>Tutorial</a>
        <a [routerLink]='["/about"]'>About</a>
    </div>
    <div class="footer-box">
        <h3>More Information</h3>
        <a [routerLink]='["/login"]'>Login</a>
        <a [routerLink]='["/register"]'>Register</a>
        <a [routerLink]='["/teachers"]'>Contact Us</a>
    </div>
    <div class="footer-box">
        <h3>Social</h3>
       <div class="social">
           <a href="#"><i class='bx bxl-facebook' ></i></a>
           <a href="#"><i class='bx bxl-twitter' ></i></a>
           <a href="#"><i class='bx bxl-instagram' ></i></a>
       </div>
    </div>
    <!-- Scroll Top -->
    <a href="#home" class="scroll-top"><i class='bx bx-up-arrow-alt' ></i></a>
  </section>

          <!-- Copyright -->
          <div class="copyright">
            <p>&#169;Mixed By <a href="https://www.linkedin.com/in/guidomallamace/" target="_blank" style="text-decoration: none;"><span>Guido Mallamace</span></a></p>
        </div>

    <!--============================== FINE del FOOTER ==============================-->
