 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
<body>
    <!-- Header -->
    <header>
        <div class="navbar">
               <!-- Logo -->
               <a [routerLink]='["/home"]' class="logo">
                Building Your <span>Future</span>.
                </a>
            <!-- Nav List -->
            <ul class="nav_links">
                <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
                <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
                <li><a [routerLink]='["/about"]'>About</a></li>
                <li><a [routerLink]='["/contact us"]'>Contact Us</a></li>
            </ul>
            <ul class="nav_login">
              <li><a [routerLink]='["/login"]'>Login</a></li>
              <li><a [routerLink]='["/register"]'>Register</a></li>
            </ul>
        </div>
    </header>

     <!--============================== FINE DELLA NAVBAR ==============================-->


    <!--============================== CATALOGO DEI TUTORIALS ==============================-->
    <section id="trending-section" class="mb-4 mb-md-5">
        <h5 class="ms-4 mb-0 mb-lg-3">Trending Now</h5>
        <div class="carousel-inner d-flex flex-nowrap overflow-auto">
          <div class="carousel-item active">
            <div class="contImg row">
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2">
                <img src="Netflix-assets/assets/media/media0.webp" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-sm-block">
                <img src="Netflix-assets/assets/media/media1.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-md-block">
                <img src="Netflix-assets/assets/media/media2.webp" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="Netflix-assets/assets/media/media3.webp" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="Netflix-assets/assets/media/media4.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
            </div>
          </div>
        </div>
        <!--FINE CAROSELLO 1-->
      </section>
      
      <!--CAROSELLO 2-->
      <section id="trending-section" class="mb-4 mb-md-5">
        <h5 class="ms-4 mb-0 mb-lg-3">Trending Now</h5>
        <div class="carousel-inner d-flex flex-nowrap overflow-auto">
          <div class="carousel-item active">
            <div class="contImg row">
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-sm-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-md-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="/assets/Netflix-assets/assets/media/media6.jpg" class="img-fluid" alt="immagine">
              </div>
            </div>
          </div>
        </div>
        <!--FINE CAROSELLO 2-->
      </section>
      
      <!--CAROSELLO 3-->
      <section id="trending-section" class="mb-4 mb-md-5">
        <h5 class="ms-4 mb-0 mb-lg-3">New Releases</h5>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="contImg row">
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2">
                <img src="Netflix-assets/assets/media/media12.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-sm-block">
                <img src="Netflix-assets/assets/media/media13.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-md-block">
                <img src="Netflix-assets/assets/media/media14.webp" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="Netflix-assets/assets/media/media15.jpg" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="Netflix-assets/assets/media/media16.webp" class="img-fluid" alt="immagine">
              </div>
              <div class="imgC col-12 col-sm-6 col-md-4 col-lg-2 d-none d-lg-block">
                <img src="Netflix-assets/assets/media/media17.jpg" class="img-fluid" alt="immagine">
              </div>
            </div>
          </div>
        </div>
        <!--FINE CAROSELLO 3-->
      </section>
      

    <!--============================== CATALOGO DEI TUTORIALS ==============================-->


    <!--============================== FOOTER ==============================-->
   <!-- Footer Start -->
  <section class="footer container">
    <div class="footer-box">
        <h3>The Company</h3>
        <a href="#">About Us</a>
        <a href="#">Help</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-box">
        <h3>Popular Categories</h3>
        <a [routerLink]='["/courses"]'>Courses</a>
        <a [routerLink]='["/tutorial"]'>Tutorial</a>
        <a [routerLink]='["/teachers"]'>Teachers</a>
        <a [routerLink]='["/about"]'>About</a>
    </div>
    <div class="footer-box">
        <h3>More Information</h3>
        <a [routerLink]='["/login"]'>Login</a>
        <a [routerLink]='["/register"]'>Register</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="footer-box">
        <h3>Social</h3>
       <div class="social">
           <a href="#"><i class='bx bxl-facebook' ></i></a>
           <a href="#"><i class='bx bxl-twitter' ></i></a>
           <a href="#"><i class='bx bxl-instagram' ></i></a>
       </div>
    </div>
    <!-- Scroll Top -->
    <a href="#home" class="scroll-top"><i class='bx bx-up-arrow-alt' ></i></a>
  </section>

        <!-- Copyright -->
        <div class="copyright">
            <p>&#169;Mixed By <span>Guido Mallamace</span></p>
        </div>

</body>
    <!--============================== FINE del FOOTER ==============================-->
