 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- Header -->
    <header>
        <div class="navbar">
               <!-- Logo -->
               <ul class="logo">
                <li><a [routerLink]='["/home"]'>
                 Building Your Future.
                 </a></li>
               </ul>
            <!-- Nav List -->
            <ul class="nav_links">
                <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
                <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
                <li><a [routerLink]='["/about"]'>About</a></li>
                <li><a [routerLink]='["/contact us"]'>Contact Us</a></li>
            </ul>
            <ul class="nav_login">
              <li><a [routerLink]='["/login"]'>Login</a></li>
              <li><a [routerLink]='["/register"]'>Register</a></li>
            </ul>
        </div>
    </header>

     <!--============================== FINE DELLA NAVBAR ==============================-->


    <!--============================== CATALOGO DEI TUTORIALS ==============================-->

    <!--============================== CAROSELLO 1 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
       <h1>Fisica</h1>
    <div class="carousel"> 
        <!--Singola Card del carosello 1-->
        <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/R5GKcAPiJMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Nikola Tesla</h2>
                <p>Nikola Tesla è uno dei pionieri nel campo dell'energia elettrica, uno scienziato geniale che qualcuno definì il “mago” dell'elettricità, proprio grazie alle sue idee rivoluzionarie. Fu uno dei primi a pensare di poter distribuire energia a tutto il mondo senza fili,  inventò la corrente alternata, con cui tutt’ora trasportiamo energia elettrica su lunghe distanze. </p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 2-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/MFSwkFK7_ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Fusione Nucleare</h2>
                <p>In fisica la fusione nucleare è la reazione nucleare che consiste nell’unione di due atomi di idrogeno, liberando grandissime quantità di energia. A differenza della fissione nucleare, che scinde atomi pesanti in atomi più leggeri, la fusione nucleare unisce due o più atomi leggeri, generando la stessa reazione che avviene nel sole e nelle stelle, ecco perché è anche chiamata energia stellare.
                  </p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 3-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/InE1eM6eclA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>Il petrolio</h2>
                <p>Il Petrolio è un idrocarburo il cui nome deriva dal latino “petroleum”, termine composto da “petra” e “oleum”, che significa "olio di roccia”. Insieme al carbone è stato la fonte energetica che ha accelerato l’evoluzione della società moderna dalla Rivoluzione Industriale a oggi. 
                Il processo di formazione può durare diversi milioni di anni ecco perché è una fonte di energia non rinnovabile.</p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello-->
      
         <!--Singola Card del carosello 4-->
         <div class="card_carousel">
          <div class="card">
            <iframe src="https://www.youtube.com/embed/oDETa3ktK8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="testo_card">
                <h2>La bomba atomica</h2>
                <p>La bomba atomica è un ordigno che ha una forza distruttiva incredibile e genera energia attraverso la fissione nucleare. Questo tipo di bombe furono progettate durante la Seconda Guerra Mondiale e utilizzate solo in due occasioni a Hiroshima e Nagasaki in Giappone nel 1945 mettendo fine alla guerra.
                Il cuore delle bombe atomiche è fatto di Uranio 235 e Plutonio 239, metalli pesanti che attivano la fissione nucleare.</p>
            </div>
          </div>
        </div>
        <!--FINE Card del carosello--> 
      </div>
    </div>
      <!--<i class="uil uil-angle-double-right"></i>-->
    <!--==========================FINE CAROSELLO 1===============================-->


     <!--============================== CAROSELLO 2 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
      <h1>Matematica</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/IO17Q24fvWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Alan Turing</h2>
              <p>Chi è Alan Turing ? In che modo contribuì alla fine della Seconda Guerra Mondiale? In questo video raccontiamo la storia del genio matematico che riuscì a decriptare i codici tedeschi di Enigma, decifrandoli con l'invenzione di The Bombe, ricordato anche per aver posto le basi per i computer che usiamo oggi e per aver aperto la riflessione sulle intelligenze artificiali. </p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
    </div>
    <!--<i class="uil uil-angle-double-right"></i>-->
  <!--==========================FINE CAROSELLO 2===============================-->


      <!--============================== CAROSELLO 3 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
      <h1>Chimica</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
    </div>
    <!--<i class="uil uil-angle-double-right"></i>-->
  <!--==========================FINE CAROSELLO 3===============================-->


   <!--============================== CAROSELLO 4 ==============================-->
    <!--<i class="uil uil-angle-double-left"></i>-->
    <div class="info_carousel">
      <h1>Letteratura</h1>
    <div class="carousel"> 
      <!--Singola Card del carosello 1-->
      <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 2-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/watch?v=ihcJ7BZHezE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 3-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello-->
    
       <!--Singola Card del carosello 4-->
       <div class="card_carousel">
        <div class="card">
          <iframe  src="https://www.youtube.com/embed/U5ffFIx1S5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="testo_card">
              <h2>Argomento lezione</h2>
              <p>Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video Breve introduzione relativa al video</p>
          </div>
        </div>
      </div>
      <!--FINE Card del carosello--> 
    </div>
  </div>
    <!--<i class="uil uil-angle-double-right"></i>-->
  <!--==========================FINE CAROSELLO 3===============================-->

    <!--============================== CATALOGO DEI TUTORIALS ==============================-->


    <!--============================== FOOTER ==============================-->
   <!-- Footer Start -->
  <section class="footer container">
    <div class="footer-box">
        <h3>The Company</h3>
        <a href="#">About Us</a>
        <a href="#">Help</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-box">
        <h3>Popular Categories</h3>
        <a [routerLink]='["/courses"]'>Courses</a>
        <a [routerLink]='["/tutorial"]'>Tutorial</a>
        <a [routerLink]='["/teachers"]'>Teachers</a>
        <a [routerLink]='["/about"]'>About</a>
    </div>
    <div class="footer-box">
        <h3>More Information</h3>
        <a [routerLink]='["/login"]'>Login</a>
        <a [routerLink]='["/register"]'>Register</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="footer-box">
        <h3>Social</h3>
       <div class="social">
           <a href="#"><i class='bx bxl-facebook' ></i></a>
           <a href="#"><i class='bx bxl-twitter' ></i></a>
           <a href="#"><i class='bx bxl-instagram' ></i></a>
       </div>
    </div>
    <!-- Scroll Top -->
    <a href="#home" class="scroll-top"><i class='bx bx-up-arrow-alt' ></i></a>
  </section>

        <!-- Copyright -->
        <div class="copyright">
            <p>&#169;Mixed By <span>Guido Mallamace</span></p>
        </div>

    <!--============================== FINE del FOOTER ==============================-->
