/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  list-style: none;
  text-decoration: none;
}

/* Variables */
:root {
  --text-color: #FFFFFF;
  --first-color: #7A86FE;
  --second-color: #FFD754;
  --button-color: #1d225d;
  --hover-color: #2e2e2e;
  --other-color1:#83E2CC;
  --other-color2:#F6BAC2;
  --other-color3:#5CDE5A;

}

/* ============================ INIZIO DELLA NAVBAR ============================ */
.navbar{
  background-color: #7A86FE;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 999; 
  box-shadow: 0px 2px 4px rgba(122, 134, 254, 0.5); /* Valori di esempio per l'ombra, puoi regolare i valori secondo le tue preferenze */

}



.logo {
  color:#ffffff;
  display: flex;
  align-items:flex-start;
  font-size: 20px;
  padding-left: 50px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.logo span{
  color:#FFD754;
}

 .nav_links{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6rem;
    margin: 0;
    padding: 20px;
    font-weight: 400;
}

.nav_login{
  font-size: 20px;
  display: flex;
  gap:4rem;
  align-items:flex-end;
  font-weight: 600;
  padding-right: 50px;
}

.navbar li a {
  text-decoration: none;
  color:white;
} 

.navbar li a:hover {
  color:#FFD754;
  font-weight: 600;
}  
/* ============================ FINE DELLA NAVBAR ============================ */




/* ============================ INIZIO SEZIONE 3 ============================ */
.login_container {
  position: relative;
  min-height: 100vh;
  display: grid;
  background-color: #1d225d;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.login_img img {
  height: 100vh;
  width: auto;
  display: block;
}

.login_img {
  position: relative;
}

/* ============================ FINE SEZIONE 1 ============================ */


/* ============================ INIZIO SEZIONE SCRIVI MESSAGGIO ============================ */
.login_section {
    grid-column: 2;
    grid-row: 1;
}


.form-container {
    position: absolute;
    top: 22%;
    left: 55%;
    width: 550px;
    height: 700px;
    border-radius: 0.75rem;
    background-color: #7A86FE;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    padding-top: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(243, 244, 246, 1);
}
  
.title {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}
  
.form {
    margin-top: 1.5rem;
}
  
.input-group {
    margin-top: 2rem;
    font-size: 0.875rem;
    line-height: 1rem;
}
  
.input-group label {
    display: block;
    color: rgb(246, 246, 246);
    margin-bottom: 4px;
}
  
.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    outline: 0;
    background-color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    color: #1d225d;
}
  
.input-group input:focus {
    border-color: #7A86FE;
    background-color: #FFD754;
}
  
  
.sign {
    display: block;
    width: 100%;
    background-color: #1d225d;
    padding: 0.75rem;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.375rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}
  
.sign:hover {
  font-weight: 600;
  box-shadow: 7px 5px 56px -14px #1d225d;
}


.sign:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #1d225d;
}





.button-group {
    display: flex;
    justify-content: space-between;
}
  
.button-group .sign2 {
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 2.5rem;
}

.sign2 {
    display:block;
    width: 100%;
    background-color: white;
    padding: 0.75rem;
    text-align: center;
    color: #1d225d;
    border: none;
    font-size: 0.9rem;
    border-radius: 0.375rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.sign2:hover {
  background-color: #FFD754;
  font-weight: 600;
  box-shadow: 7px 5px 56px -14px #1d225d;
}


.sign2:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #1d225d;
}




/* =========================== FINE SEZIONE 4 ============================ */



