 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
 
 
 <header>
    <div class="navbar">
           <!-- Logo -->
           <a [routerLink]='["/home"]' class="logo">
            Building Your <span>Future</span>.
            </a>
        <!-- Nav List -->
        <ul class="nav_links">
            <li><a [routerLink]='["/courses"]'>Courses</a></li>
            <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
            <li><a [routerLink]='["/about"]'>About</a></li>
            <li><a [routerLink]='["/"]'>Contact Us</a></li>
        </ul>
        <ul class="nav_login">
          <li><a [routerLink]='["/login"]'>Login</a></li>
          <li><a [routerLink]='["/register"]'>Register</a></li>
        </ul>
    </div>
</header>
<!-- Home Section Start -->
<section class="login_container" id="login">
 
    <!-- Home Image -->
    <div class="login_img">
        <img src="assets/img/verti.jpg">
    </div>


    <div class="login_section">
        <div class="form-container">
            <p class="title">Hai qualche dubbio? Contattaci subito!</p>
            <form class="form">
                <div class="input-group">
                    <label for="username">Nome completo</label>
                    <input  type="text" name="username" id="username" placeholder="">
                </div>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input  type="text" name="email" id="email" placeholder="">
                </div>

                <div class="input-group">
                    <label for="textarea">Lascia un messaggio</label>
                  <textarea placeholder=""></textarea>
                </div>

                <button class="sign">Invia Messaggio</button>
            </form>
        </div>
    </div>
</section>




<!--========================== INIZIO PARTE 4 ============================-->
<!-- 
<section class="popular_container" id="popular">
    <div class="heading">
        <h2>Siamo più di <span>300 Tutor</span>,<br> vieni a scoprire le nostre storie...</h2>
    </div>
  
    <div class="popular-content">
 
        <div class="box">
            <img src="assets/img/ragazza.webp" alt="">
            <div class="box-text">
                <div class="teacher">
                    <h3>Pietro</h3>
                    <span>Docente di Filosofia</span>
                </div>
            </div>
        </div>
       
        <div class="box">
            <img src="assets/img/ragazza.webp" alt="">
            <div class="box-text">
                <div class="teacher">
                    <h3>Francesca</h3>
                    <span>Docente di Italiano</span>
                </div>
            </div>
        </div>
      
        <div class="box">
            <img src="assets/img/ragazza.webp" alt="">
            <div class="box-text">
                <div class="teacher">
                    <h3>Mauro</h3>
                    <span>Docente di Fisica</span>
                </div>
            </div>
        </div>
     
        <div class="box">
            <img src="assets/img/ragazza.webp" alt="">
            <div class="box-text">
                <div class="teacher">
                    <h3>Ludovica</h3>
                    <span>Docente di Chimica</span>
                </div>
            </div>
        </div>
    </div>
</section>
    ========================== FINE PARTE 4 ============================-->



