/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  list-style: none;
  text-decoration: none;
}

/* Variables */
:root {
  --text-color: #FFFFFF;
  --first-color: #7A86FE;
  --second-color: #FFD754;
  --button-color: #1d225d;
  --hover-color: #2e2e2e;
  --other-color1:#83E2CC;
  --other-color2:#F6BAC2;
  --other-color3:#5CDE5A;

}

/* ============================ INIZIO DELLA NAVBAR ============================ */
.navbar{
  background-color: #7A86FE;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 999; 
  box-shadow: 0px 2px 4px rgba(122, 134, 254, 0.5); /* Valori di esempio per l'ombra, puoi regolare i valori secondo le tue preferenze */

}



.logo {
  color:#ffffff;
  display: flex;
  align-items:flex-start;
  font-size: 20px;
  padding-left: 50px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}


 .nav_links{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6rem;
    margin: 0;
    padding: 20px;
    font-weight: 400;
}

.nav_login{
  font-size: 20px;
  display: flex;
  gap:4rem;
  align-items:flex-end;
  font-weight: 600;
  padding-right: 50px;
}

.navbar li a {
  text-decoration: none;
  color:white;
} 

.navbar li a:hover {
  color:#FFD754;
  font-weight: 600;
}  
/* ============================ FINE DELLA NAVBAR ============================ */

/* ============================ INIZIO SEZIONE 1 ============================ */

.home {
  position: relative;
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-text h1 {
  font-size: 2.5rem;
  color: #1d225d;
  padding-right: 15rem;
  padding-top: 12rem;

}
.home-text h1 span {
  color:#7A86FE;
  text-decoration: underline wavy #FFD754;
  text-decoration-thickness: 4px;
}

.home-text h1 span:hover {
  color:#FFD754;
  text-decoration: underline wavy #7A86FE;

}

.home-img img {
  width: 500px;
}

.home-img {
  position: relative;
  margin-top:8rem;
  margin-left: 6rem;
}
/* ============================ FINE SEZIONE 1 ============================ */

/* ============================ INIZIO SEZIONE 2 ABOUT ============================ */

.categories {
    background: white;
    height: 32rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 6rem;
  }
  
  .categories h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: #1d225d;
    font-weight: 600;
    text-decoration: underline wavy #FFD754;
     text-decoration-thickness: 4px;
  }
  
  .categories h1 span {
    color: #7A86FE;
  }
  
  .categories h1 span:hover {
    font-weight: 700;
    transition: 0.3s all linear;
    color: #FFD754;
    
  }
  
  .categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .categories__left {
    margin-right: 4rem;
    margin-top: 5rem; 
 }
  
  .categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
  
  .category {
    background: #7A86FE;
    padding: 2rem;
    border-radius: 9px;
    color: #FFFFFF;
    font-weight: 400;
  }
  
  .category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-weight: 700;
  }
  
  .category:nth-child(2) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(3) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(4) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(5) .category__icon {
    background: #1d225d;
  }
  
  .category__icon {
    background: #1d225d;
    padding: 0.7rem;
    border-radius: 9px;
  }
  
  
  .category h5 {
    margin: 2rem 0 1rem;
  }
  
  .category p {
    font-size: 0.85rem;
  }
  
/* ============================ FINE SEZIONE 2 ABOUT ============================ */

/* ============================ INIZIO SEZIONE 3  ============================ */
.step {
    background: #1d225d;
    height: 32rem;
  }
  
  .step h1 {
    margin-left: 4rem;
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
  }
  
  .step h1 span {
    color: #7A86FE;
    font-weight: 600;

  }
  
  .step h1 span:hover {
    font-weight: 700;
    transition: 0.3s all linear;
    color: #FFD754;
  }
  
  .step_container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .step_left {
    margin-right: 4rem;
    margin-top: 7rem; 
 }
  
  .step_right {
    margin-top: 5rem; 
    margin-right: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* ============================ FINE SEZIONE 3 ============================ */



/* ============================ INIZIO SEZIONE 4  ============================ */
.container_dati{
 margin-left: 15rem ;
 margin-right: 15rem ;
 padding: 5rem;
 display: flex;
 justify-content: space-between;
}

.singolo_dato{
  text-align: center;
  background-color:#1d225d;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(122, 133, 254, 0.6);
}


.singolo_dato h1{
  color: #7A86FE;
  font-size: 3.5rem;
  font-weight: 600;
}

.singolo_dato h1:hover{
  color: #FFD754;
  font-size: 3.5rem;
  font-weight: 700;
}


.singolo_dato p{
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
}


/* ============================ FINE SEZIONE 4  ============================ */


/* ============================ INIZIO SEZIONE 5 ============================ */

.home2 {
  position: relative;
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-text2 h1 {
  font-size: 2.5rem;
  color: #1d225d;
  padding-right: 20rem;
  padding-top: 4rem;

}
.home-text2 h1 span {
  color:#7A86FE;
}

.home-text2 h1 span:hover {
  color:#FFD754;

}

.home-img2 img {
  width: 600px;
}

.home-img2 {
  position: relative;
  margin-top:2rem;
  margin-left: 6rem;
}
/* ============================ FINE SEZIONE 5 ============================ */


/* ============================ INIZIO SEZIONE 6  ============================ */

.container_newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
  background-color: #7A86FE;
  border-radius: 2rem;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.text_newsletter {
  text-align: center;
  padding-top: 2rem;
  color: #ffffff;
}

.text_newsletter h1 {
  font-size: 2.5rem;
}

.text_newsletter p {
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

.form_newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  position: relative; 
}

.input-group label.input-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color:#8b8b8bf3;
  pointer-events: none; 
  opacity: 0.7; 
  transition: opacity 0.3s ease;
}

.input-group input {
  border-radius: 0.375rem;
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 1rem;
  color: #1d225d;
}

.input-group input:focus + label.input-label {
  opacity: 0; /* Aggiunto */
}

.button_newsletter {
  width: 7rem;
  background-color: #FFD754;
  padding: 0.75rem;
  text-align: center;
  color: #1d225d;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.375rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

  
.button_newsletter:hover {
  font-weight: 600;
  box-shadow: 7px 5px 56px -14px #1d225d;
}


.button_newsletter:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #1d225d;
}



/* ============================ FOOTER ============================ */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1rem;
    background-color: #7A86FE;
    border-top-right-radius: 250px;
    padding: 3rem;
  }
  
  .footer-box {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
  
  .footer-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1d225d;
  }
  
  .footer-box a {
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .footer-box a:hover {
    font-weight: 600;
  }
  
  .social {
    display: flex;
    align-items: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  
  .social .bx {
    padding: 8px;
    background: #7A86FE;
    font-size: 20px;
    border-radius: 0.5rem;
    color: white;
  }
  
  .social .bx:hover {
    background: #1d225d;
    transition: 0.3s all linear;
  }
  
  .scroll-top {
    display: flex;
    align-items: center;
  }
  
  .scroll-top .bx {
    padding: 8px;
    background: #7A86FE;
    font-size: 50px;
    border-radius: 0.5rem;
    color: white;
  }
  
  .scroll-top .bx:hover {
    background: #1d225d;
    transition: 0.3s all linear;
  }
  
  .copyright {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #7A86FE;
    color: #FFFFFF;
  }
  
  .copyright span {
    color: #FFD754;
  }
  
  .copyright :hover {
    font-weight: 600;
  }
  /*=================================RESPONSIVE TABLET=================================*/
/*=================================RESPONSIVE TABLET=================================*/
/*=================================RESPONSIVE TABLET=================================*/

@media screen and (max-width: 768px) {
  .navbar{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  .logo {
    font-size: 18px;
    padding-left: 28px;
  }
  
   .nav_links{
      display: none;
  }
  .nav_login{
    font-size: 18px;
    display: flex;
    gap:2rem;
    align-items:flex-end;
    padding-right: 50px;
  }

  /* ============================ INIZIO SEZIONE 1 ============================ */

.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.home-text h1 {
  font-size: 1.75rem;
  padding-right: 1rem;
  padding-top: 10rem;
  padding-left: 1rem;
  text-align: center;

}


.home-img img {
  width: 370px;
}

.home-img {
  position: relative;
  margin-top:8rem;
  margin-left: 1rem;
}
/* ============================ FINE SEZIONE 1 ============================ */


  /* ============================ INIZIO SEZIONE 2 categorie metodi ============================ */
.categories {
  height: auto;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  margin-top: 0.3rem;
}

.categories h1 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 2 rem;
}

.categories__container {
  grid-template-columns: 100%
}

.categories__left {
  margin-right: 4rem;
}



.categories__right {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}


.category {
  padding: 2rem;
  border-radius: 9px;

}

.category h5 {
  margin: 2rem 0 1rem;
  font-size: 1rem;
}


.category p {
  font-size: 0.8rem;
}


/* ============================ INIZIO SEZIONE 3  ============================ */
.step {
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.step h1 {
  margin-left: 5rem;
  font-size: 1.5rem;

}


.step_container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.step_left {
  margin-right: 4rem;
  margin-top: 0rem; 
}

.step_right {
  margin-top: 5rem; 
  margin-right: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* ============================ FINE SEZIONE 3 ============================ */



/* ============================ INIZIO SEZIONE 4  ============================ */
.container_dati{
margin-left: 2rem ;
margin-right: 2rem ;
margin-top: 1.5rem;
margin-bottom: 0.5rem;
padding: 3rem;
display: flex;
justify-content: space-between;
}

.singolo_dato{
padding: 1.4rem;
}

.singolo_dato h1{
font-size: 2.2rem;
}

.singolo_dato p{
font-size: 1.3rem;
}

.container5 {
  display: none;
}

/* ============================ INIZIO SEZIONE 5 ============================ */

.home2 {
  position: relative;
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-text2 h1 {
  font-size: 1.5rem;
  padding-right: 3rem;
  padding-top: 4rem;

}
.home-img2 img {
  width: 420px;
}

.home-img2 {
  margin-left: 1rem;
}
/* ============================ FINE SEZIONE 5 ============================ */


/* ============================ INIZIO SEZIONE 6  ============================ */

.container_newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.text_newsletter {
  text-align: center;
  padding-top: 2rem;
  color: #ffffff;
}

.text_newsletter h1 {
  font-size: 2rem;
}

.text_newsletter p {
  font-size: 0.8rem;
  padding-top: 1.5rem;
}

.form_newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  position: relative; 
}

.input-group label.input-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color:#8b8b8bf3;
  pointer-events: none; 
  opacity: 0.7; 
  transition: opacity 0.3s ease;
}

.input-group input {
  border-radius: 0.375rem;
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 1rem;
  color: #1d225d;
}

.input-group input:focus + label.input-label {
  opacity: 0; /* Aggiunto */
}

.button_newsletter {
  width: 7rem;
  background-color: #FFD754;
  padding: 0.75rem;
  text-align: center;
  color: #1d225d;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.375rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

  
.button_newsletter:hover {
  font-weight: 600;
  box-shadow: 7px 5px 56px -14px #1d225d;
}


.button_newsletter:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #1d225d;
}


/* ==================================== FOOTER ====================================  */
.footer {
  gap: 1rem;
  border-top-right-radius: 110px;
  padding: 3rem;
}
.footer-box {
  display: flex;
  flex-direction: column;
  margin-left:2rem;
}

}





  /*=================================RESPONSIVE=================================*/
/*=================================RESPONSIVE=================================*/
/*=================================RESPONSIVE=================================*/
/*=================================RESPONSIVE CELLULARE=================================*/
@media screen and (max-width: 600px) {

  /* ============================ INIZIO DELLA NAVBAR ============================ */
.navbar{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-size: 18px;
  padding-left: 28px;
}

 .nav_links{
    display: none;
}
.nav_login{
  font-size: 18px;
  display: flex;
  gap:2rem;
  align-items:flex-end;
  padding-right: 50px;
}

.home {
  border-bottom-left-radius: 100px;
}
.home-text h1 {
  font-size: 3.5rem;
  padding-left: 60px;
}

.home-img img {
  display: none;
}


  /* ============================ INIZIO SEZIONE 2 categorie metodi ============================ */
.categories {
  height: auto;
  margin-left: 4rem;
  margin-right: 2rem;
  padding-top:2rem;
  margin-bottom: 5rem;
}

.categories h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-align: center;

}

.categories__container {
  grid-template-columns: 100%
}

.categories__left {
  margin-right: 4rem;
}



.categories__right {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}


.category {
  background: #7A86FE;
  text-align: center;
  padding: 2rem;
  border-radius: 9px;

}


.category p {
  font-size: 0.70rem;
  text-align: center;
}

/* ============================ FINE SEZIONE 2 ============================ */

/* ============================ INIZIO SEZIONE 3  ============================ */
.step {
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.step h1 {
  margin-left: 4rem;
  font-size: 1.5rem;
}


.step_container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.step_left {
  margin-right: 4rem;
}

.step_right {
  margin-top: 5rem; 
  margin-right: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* ============================ FINE SEZIONE 3 ============================ */



/* ============================ INIZIO SEZIONE 4  ============================ */
.container_dati{
margin-left: 1rem ;
margin-right: 1rem ;
margin-top: 1.2rem;
margin-bottom: 1.2rem;
padding: 1.7rem;
display: flex;
justify-content: space-between;
}

.singolo_dato{
padding: 1.2rem;
}

.singolo_dato h1{
font-size: 2.2rem;
}

.singolo_dato p{
font-size: 1.3rem;
}

.container5 {
  display: none;
}

/* ============================ FINE SEZIONE 4  ============================ */
.footer {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-top-right-radius: 150px;
}

.footer-box {
  margin-left: 1.2rem;
}
}