 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
 
  <!-- Header -->
  <header>
    <div class="navbar">
           <!-- Logo -->
           <ul class="logo">
           <li><a [routerLink]='["/home"]'>
            Building Your Future.
            </a></li>
          </ul>
        <!-- Nav List -->
        <ul class="nav_links">
          <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
          <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
          <li><a [routerLink]='["/about"]'>About</a></li>
          <li><a [routerLink]='["/teachers"]'>Contact Us</a></li>
        </ul>
        <ul class="nav_login">
          <li><a [routerLink]='["/login"]'>Login</a></li>
          <li><a [routerLink]='["/register"]'>Register</a></li>
        </ul>
    </div>
</header>
<!-- =========================FINE NAVBAR =========================-->

<!-- =========================INIZIO PARTE 1 =========================-->
<!-- Home Section Start -->
<section class="home container" id="home">
  <!-- Home Image -->
  <div class="home-img">
    <img src="assets/img/ragazza2.png">
</div>
    <div class="home-text">
        <h1> <span>Building Your Future</span>  nasce con l'obiettivo di aiutare tutti gli studenti che hanno difficoltà a scuola. Crediamo che i ragazzi siano il <span>Futuro</span> e per questo motivo vogliamo aiutarli a migliorare in modo da sbloccare tutte le loro <span>Potenzialità</span>.</h1>
    </div>
    
</section>
<!-- ==================== FINE PARTE 1 ====================-->



 <!-- ==================== INIZIO PARTE 2 ====================-->
 <section class="categories">
    <div class="container categories__container">
      <div class="categories__left">
        <h1>Scopri i metodi grazie ai quale il <span>94%</span> dei nostri studenti riesce a <span>recuperare</span> tutte le lacune :)</h1>
      </div>

      <div class="categories__right">
        <article class="category">
          <span class="category__icon">
            <i class="uil uil-abacus"></i>
          </span>
          <h5>Esercitazioni</h5>
          <p>Creiamo delle esercitazioni facilitate utili ad una crescita graduale e costante dell'apprendimento dello studente.</p>
        </article>

        <article class="category">
          <span class="category__icon">
            <i class="uil uil-bell-school"></i>
          </span>
          <h5>Tempo libero</h5>
          <p>Quando stabiliamo un percorso teniamo conto dei vostri impegni e cerchiamo di modellare attorno un piano di crescita personalizzato.</p>
        </article>

        <article class="category">
          <span class="category__icon">
            <i class="uil uil-accessible-icon-alt"></i>
          </span>
          <h5>Accessibile</h5>
          <p>Ogni studente è unico, è per noi importante assegnarti il Tutor adatto alle tue esigenze.</p>
        </article>

        <article class="category">
          <span class="category__icon">
            <i class="uil uil-band-aid"></i>
          </span>
          <h5>Lacune</h5>
          <p>Cerchiamo di colmare le lacune dello studente intervenendo sugli argomenti nei quali è più carente.</p>
        </article>

        <article class="category">
          <span class="category__icon">
            <i class="uil uil-bag-alt"></i>
          </span>
          <h5>Tutor</h5>
          <p>La scelta dei Tutor è molto importante per la nostra azienda, scegliamo con cura i docenti che vi seguiranno.</p>
        </article>

        <article class="category">
          <span class="category__icon">
            <i class="uil uil-puzzle-piece"></i>
          </span>
          <h5>Tutorial</h5>
          <p>All'interno del nostro portale sono presenti dei video di approfondimento per implementare le nozioni apprese.</p>
        </article>
      </div>
    </div>
  </section>
<!-- ==================== FINE PARTE 2 ====================-->

<!-- ==================== INIZIO PARTE 3 ====================-->
<section class="step">
  <section class="step_container">
    <div class="step_left">
      <h1>Pronto a cominciare?<br>Ecco gli <span>Step</span> grazie ai quali arriveremo <span>insieme</span> ad un <span>soddisfacente</span> risultato finale!</h1>
    </div>
  </section>
</section>
<!-- ==================== FINE PARTE 3 ====================-->

<!-- ==================== INIZIO PARTE 4 ====================-->
<div class="container_dati">
  <div class="singolo_dato">
    <h1 id="numero">+270</h1>
    <p>Corsi</p>
  </div>

  <div class="singolo_dato">
    <h1 id="numero">+300</h1>
    <p>Tutor</p>
  </div>

  <div class="singolo_dato">
    <h1 id="numero">+700</h1>
    <p>Tutorial</p>
  </div>
</div>
<!-- ==================== FINE PARTE 4 ====================-->

<!-- ==================== INIZIO PARTE 5 ====================-->
<div class="container5">

</div>
<!-- ==================== FINE PARTE 5 ====================-->



    <!-- ========================= FOOTER =========================-->
   <!-- Footer -->
   <section class="footer container">
    <div class="footer-box">
        <h3>The Company</h3>
        <a href="#">About Us</a>
        <a href="#">Help</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-box">
        <h3>Popular Categories</h3>
        <a [routerLink]='["/courses"]'>Courses</a>
        <a [routerLink]='["/tutorial"]'>Tutorial</a>
        <a [routerLink]='["/teachers"]'>Teachers</a>
        <a [routerLink]='["/about"]'>About</a>
    </div>
    <div class="footer-box">
        <h3>More Information</h3>
        <a [routerLink]='["/login"]'>Login</a>
        <a [routerLink]='["/register"]'>Register</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="footer-box">
        <h3>Social</h3>
       <div class="social">
           <a href="#"><i class='bx bxl-facebook' ></i></a>
           <a href="#"><i class='bx bxl-twitter' ></i></a>
           <a href="#"><i class='bx bxl-instagram' ></i></a>
       </div>
    </div>
    <!-- Scroll Top -->
    <a href="#about" class="scroll-top"><i class='bx bx-up-arrow-alt' ></i></a>
</section>

        <!-- Copyright -->
        <div class="copyright">
            <p>&#169;Mixed By <span>Guido Mallamace</span></p>
        </div>
<!-- ==================== FINE FOOTER e NOME ====================-->