/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  list-style: none;
  text-decoration: none;
}

/* Variables */
:root {
  --text-color: #FFFFFF;
  --first-color: #7A86FE;
  --second-color: #FFD754;
  --button-color: #1d225d;
  --hover-color: #2e2e2e;
  --other-color1:#83E2CC;
  --other-color2:#F6BAC2;
  --other-color3:#5CDE5A;

}

/* ============================ INIZIO DELLA NAVBAR ============================ */
.navbar{
  background-color: #7A86FE;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 999; 
  box-shadow: 0px 2px 4px rgba(122, 134, 254, 0.5); /* Valori di esempio per l'ombra, puoi regolare i valori secondo le tue preferenze */

}



.logo {
  color:#ffffff;
  display: flex;
  align-items:flex-start;
  font-size: 20px;
  padding-left: 50px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.logo span{
  color:#FFD754;
}

 .nav_links{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6rem;
    margin: 0;
    padding: 20px;
    font-weight: 400;
}

.nav_login{
  font-size: 20px;
  display: flex;
  gap:4rem;
  align-items:flex-end;
  font-weight: 600;
  padding-right: 50px;
}

.navbar li a {
  text-decoration: none;
  color:white;
} 

.navbar li a:hover {
  color:#FFD754;
  font-weight: 600;
}  
/* ============================ FINE DELLA NAVBAR ============================ */

/* ============================ INIZIO SEZIONE 1 ============================ */

.home {
  position: relative;
  min-height: 640px;
  display: grid;
  background-color: #7A86FE;
  border-bottom-left-radius: 250px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-text h1 {
  font-size: 4.5rem;
  color: #FFFFFF;
  padding-left: 60px;

}
.home-text h1 span {
  color:#FFD754;
}

.home-img img {
  width: 420px;
}

.home-img {
  position: relative;
  margin-bottom: -88px;
  margin-left: 6rem;
}
/* ============================ FINE SEZIONE 1 ============================ */

/* ============================ INIZIO SEZIONE 2 ABOUT ============================ */

.categories {
    background: white;
    height: 32rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  
  .categories h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #1d225d;
    font-weight: 600;
  }
  
  .categories h1 span {
    color: #7A86FE;
  }
  
  .categories h1 span:hover {
    font-weight: 700;
    transition: 0.3s all linear;
    color: #FFD754;
  }
  
  .categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .categories__left {
    margin-right: 4rem;
    margin-top: 5rem; 
 }
  
  .categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
  
  .category {
    background: #7A86FE;
    padding: 2rem;
    border-radius: 9px;
    transition: var(--transition);
    color: #FFFFFF;
    font-weight: 400;
  }
  
  .category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-weight: 700;
  }
  
  .category:nth-child(2) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(3) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(4) .category__icon {
    background: #1d225d;
  }
  
  .category:nth-child(5) .category__icon {
    background: #1d225d;
  }
  
  .category__icon {
    background: #1d225d;
    padding: 0.7rem;
    border-radius: 9px;
  }
  
  
  .category h5 {
    margin: 2rem 0 1rem;
  }
  
  .category p {
    font-size: 0.85rem;
  }
  


/* ============================ FINE SEZIONE 2 ABOUT ============================ */

/* ============================ SEZIONE 3  ============================ */
.step {
    background: white;
    height: 32rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 6rem;
  }
  
  .step h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #1d225d;
    font-weight: 600;
  }
  
  .step h1 span {
    color: #7A86FE;
  }
  
  .step h1 span:hover {
    font-weight: 700;
    transition: 0.3s all linear;
    color: #FFD754;
  }
  
  .step_container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .step_left {
    margin-right: 4rem;
    margin-top: 5rem; 
 }
  
  .step_right {
    margin-top: 5rem; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
 
  
/* ============================ FINE SEZIONE 3 ============================ */


/* ============================ INIZIO SEZIONE 5 FORM ============================ */


#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #1d225d;
    border: none;
    color: white;
    text-align: center;
    position: flex;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.4s;
  }
  
  
  #bottone1 i {
    font-size: 1.8rem;
    color: #7A86FE;
    padding-right: 1.5rem;
  }
  
  #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #1d225d;
    font-weight: 600;
  }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #1d225d;
  }


  body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .form_container {
    height: 30rem;
    width: 80rem;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-left: 10rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .form_container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }
  .content .image-box {
    max-width: 55%;
  }
  .content .image-box img {
    width: 100%;
  }
  .content .topic {
    font-size: 22px;
    font-weight: 700;
    color: #1d225d;
  }
  .content form {
    width: 40%;
    margin-right: 30px;
  }
  .content .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding: 0 16px;
    background: #7A86FE;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .content .input-box input:focus,
  .content .input-box input:valid {
    border-color: #7A86FE;
    background-color: #fff;
  }
  .content .input-box label {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #ffffff;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .content .input-box input:focus ~ label,
  .content .input-box input:valid ~ label {
    top: 0;
    left: 12px;
    display: 14px;
    color: #7A86FE;
    background: #fff;
  }
  .content .message-box {
    min-height: 100px;
    position: relative;
  }
  .content .message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: #7A86FE;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    padding: 5px 16px;
    transition: all 0.3s ease;
  }
  .content .message-box textarea:focus {
    border-color: #7A86FE;
    background-color: #fff;
  }
  .content .message-box label {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .content .message-box textarea:focus ~ label {
    left: 12px;
    top: -10px;
    color: #7A86FE;
    font-size: 14px;
    background: white;
  }
  .content .input-box input[type="submit"] {
    color: #fff;
    background: #7A86FE;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover {
    background-color: #7A86FE;
  }
  @media (max-width: 1000px) {
    .content .image-box {
      max-width: 70%;
    }
    .content {
      padding: 10px 0;
    }
  }
  @media (max-width: 900px) {
    .content .image-box {
      display: none;
    }
    .content form {
      width: 100%;
      margin-left: 30px;
    }
  }

/* ============================ FINE SEZIONE 5 FORM ============================ */


/* ============================ FOOTER ============================ */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1rem;
    background-color: #7A86FE;
    border-top-right-radius: 250px;
    padding: 3rem;
  }
  
  .footer-box {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
  
  .footer-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1d225d;
  }
  
  .footer-box a {
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .footer-box a:hover {
    font-weight: 600;
  }
  
  .social {
    display: flex;
    align-items: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  
  .social .bx {
    padding: 8px;
    background: #7A86FE;
    font-size: 20px;
    border-radius: 0.5rem;
    color: white;
  }
  
  .social .bx:hover {
    background: #1d225d;
    transition: 0.3s all linear;
  }
  
  .scroll-top {
    display: flex;
    align-items: center;
  }
  
  .scroll-top .bx {
    padding: 8px;
    background: #7A86FE;
    font-size: 50px;
    border-radius: 0.5rem;
    color: white;
  }
  
  .scroll-top .bx:hover {
    background: #1d225d;
    transition: 0.3s all linear;
  }
  
  .copyright {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #7A86FE;
    color: #FFFFFF;
  }
  
  .copyright span {
    color: #FFD754;
  }
  
  .copyright :hover {
    font-weight: 600;
  }
  