<header>
    <div class="navbar">
           <!-- Logo -->
           <a [routerLink]='["/home"]' >
            Building Your <span class="ms-3">Future</span>.
            </a>
        <!-- Nav List -->
        <ul class="nav_links">
          <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
          <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
          <li><a [routerLink]='["/about"]'>About</a></li>
          <li><a [routerLink]='["/teachers"]'>Contact Us</a></li>
        </ul>
        <ul class="nav_login">
          <li><a [routerLink]='["/login"]'>Login</a></li>
          <li><a [routerLink]='["/register"]'>Register</a></li>
        </ul>
    </div>
</header>