 <!-- Box Icons -->
 <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 <!-- ICONSCOUT CDN -->
 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

 <!--==========================NAVBAR==========================-->
<header>
  <div class="navbar">
         <ul class="logo">
          <li><a [routerLink]='["/home"]'>
           Building Your Future.
           </a></li>
         </ul>
      <ul class="nav_links">
        <li *ngIf="isLogged"><a [routerLink]='["/courses"]'>Courses</a></li>
        <li><a [routerLink]='["/tutorial"]'>Tutorial</a></li>
        <li><a [routerLink]='["/about"]'>About</a></li>
        <li><a [routerLink]='["/teachers"]'>Contact Us</a></li>
      </ul>
      <ul class="nav_login">
        <li><a [routerLink]='["/login"]'>Login</a></li>
        <li><a [routerLink]='["/register"]'>Register</a></li>
      </ul>
  </div>
</header> 

<!--==========================NAVBAR==========================-->

<!--==========================CAROSELLO CONTAINER==========================-->


<!-- DOCENTE -->
<div *ngIf="isTeacher">
    <div class="login_section">
      <div class="form-wrapper">
      <div class="form-container">
        <!-- Form per caricare le card -->
        <p class="title">Caricamento del materiale didattico</p>
        <form (submit)="pubblicaMateriale()">
          <div class="input-group">
            <label for="link">Link del Video</label>
            <input type="text" [(ngModel)]="lezione.link" name="link" id="link" placeholder="" required>
          </div>

          <div class="input-group">
            <label for="titolo">Titolo argomento</label>
            <input type="text" [(ngModel)]="lezione.titolo" name="titolo" id="titolo" placeholder="" required>
          </div>

          <div class="input-group">
            <label for="materia">Materia</label>
            <input type="text" [(ngModel)]="lezione.materia" name="materia" id="materia" placeholder="" required>
          </div>

          <div class="input-group">
            <label for="descrizione">Descrizione dell'argomento</label>
            <textarea [(ngModel)]="lezione.descrizione" name="descrizione"></textarea>
          </div>

          <button type="submit" class="sign">Pubblica materiale</button>
        </form>
      </div>
    </div>
    </div>
  
    <div class="carousel">
      <!-- Visualizza le card caricate dai docenti -->
      <div class="card" *ngFor="let card of cards; let i = index">
        <div class="card-content">
          <iframe [src]="getVideoUrl(card.link)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-text">
            <h2>{{ card.titolo }}</h2>
            <h3>{{ card.materia }}</h3>
            <p>{{ card.descrizione }}</p>
          </div>
          <div class="card-actions">
            <button class="sign2" (click)="modificaMateriale(i)">Modifica materiale</button>
            <button class="sign2" (click)="eliminaMateriale(i)">Elimina materiale</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- ALUNNO -->
<div *ngIf="!isTeacher">
  <div class="carousel">
    <!-- Visualizza le card caricate dagli studenti -->
    <div class="card" *ngFor="let card of cards; let i = index">
      <div class="card-content">
        <iframe [src]="getVideoUrl(card.link)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-text">
          <h2>{{ card.titolo }}</h2>
          <h3>{{ card.materia }}</h3>
          <p>{{ card.descrizione }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--============================== FOOTER ==============================-->
   <!-- Footer Start -->
   <section class="footer container">
    <div class="footer-box">
        <h3>The Company</h3>
        <a href="#">About Us</a>
        <a href="#">Help</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-box">
        <h3>Popular Categories</h3>
        <a [routerLink]='["/courses"]'>Courses</a>
        <a [routerLink]='["/tutorial"]'>Tutorial</a>
        <a [routerLink]='["/teachers"]'>Teachers</a>
        <a [routerLink]='["/about"]'>About</a>
    </div>
    <div class="footer-box">
        <h3>More Information</h3>
        <a [routerLink]='["/login"]'>Login</a>
        <a [routerLink]='["/register"]'>Register</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="footer-box">
        <h3>Social</h3>
       <div class="social">
           <a href="#"><i class='bx bxl-facebook' ></i></a>
           <a href="#"><i class='bx bxl-twitter' ></i></a>
           <a href="#"><i class='bx bxl-instagram' ></i></a>
       </div>
    </div>
    <!-- Scroll Top -->
    <a href="#home" class="scroll-top"><i class='bx bx-up-arrow-alt' ></i></a>
  </section>

        <!-- Copyright -->
        <div class="copyright">
          <p>&#169;Mixed By <a href="https://www.linkedin.com/in/guidomallamace/" target="_blank" style="text-decoration: none;"><span>Guido Mallamace</span></a></p>
      </div>
      
      

    <!--============================== FINE del FOOTER ==============================-->